<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>bird, (class Aves), any of the more than 10,400 living species unique in having feathers,
            the major characteristic that distinguishes them from all other animals. 
            A more-elaborate definition would note that they are warm-blooded vertebrates more related to reptiles than to mammals and that they have a four-chambered heart (as do mammals), 
            forelimbs modified into wings (a trait shared with bats), a hard-shelled egg, and keen vision, the major sense they rely on for information about the environment. 
            Their sense of smell is not highly developed, and auditory range is limited. Most birds are diurnal in habit. 
            More than 1,000 extinct species have been identified from fossil rem</h1>
    </center>
</body>
</html>